# Configuración de Email
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-app-password-aqui

# URLs del sistema
RESET_PASSWORD_URL=http://localhost:4200/reset-password
DASHBOARD_URL=http://localhost:4200/menu-cliente
SUPPORT_URL=http://localhost:4200/support

# Base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=Liberty
